name: CI/CD Express Backend

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  # ===========================
  # JOB 1: INTEGRACIÓN CONTINUA
  # ===========================
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Instalar dependencias del backend
        run: npm install
        working-directory: backend

      - name: Ejecutar tests del backend
        run: npm test --if-present
        working-directory: backend

      - name: Ejecutar linter del backend
        run: npm run lint --if-present
        working-directory: backend
    # ===========================
  # JOB 2: DEPLOY FRONTEND (CD)
  # ===========================
  deploy_frontend:
    needs: ci
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Deploy a GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist


  # ===========================
  # JOB 3: DOCKER BACKEND (CD)
  # ===========================
  build_and_push_backend:
    needs: ci
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build imagen Docker del backend
        run: |
          cd backend
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/backend-express-ci-cd:latest .

      - name: Push imagen Docker
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/backend-express-ci-cd:latest
