name: Online Sports CI/CD

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '18'
        
    # Build frontend
    - name: Build Frontend
      run: |
        cd frontend
        npm install
        npm run build
        
    # Deploy to GitHub Pages
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./frontend/dist
        destination_dir: ./
        
    # Build Docker image
    - name: Build and Push Docker
      run: |
        cd backend
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/backend-express-ci-cd:latest .
        echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/backend-express-ci-cd:latest .
